
qchat/.DS_Store

qchat/qchat.xcodeproj/xcuserdata/Michael.xcuserdatad/xcschemes/xcschememanagement.plist

qchat/qchat.xcodeproj/xcuserdata/Michael.xcuserdatad/xcschemes/qchat.xcscheme

qchat/qchat.xcodeproj/project.xcworkspace/xcuserdata/Michael.xcuserdatad/UserInterfaceState.xcuserstate

qchat/qchat.xcodeproj/project.xcworkspace/contents.xcworkspacedata

qchat/qchat.xcodeproj/xcuserdata/Michael.xcuserdatad/xcdebugger/Breakpoints.xcbkptlist

qchat/qchat.xcodeproj/project.pbxproj
